 {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  background-color: whitesmoke;
  color: maroon;
  font-family: Arial, sans-serif;
  min-height: 100vh; 
  display: flex;
  flex-direction: column; 
  position: relative;  
}


.header {
  text-align: center;
  background-color: maroon;
  color: whitesmoke;
  padding: 20px 0;
}

.header h1 {
  font-size: 50px;
}


.image-container {
  flex: 1; 
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 50px;
}

.image-container figure {
  margin: 10px;
  text-align: center;
}

.image-container img {
  width: 400px;
  height: auto;
  border: 0px solid ;
  border-radius: 10px;
}

.image-container figcaption {
  margin-top: 5px;
  font-size: 14px;
  color: maroon;
}

.image-container .description {
  margin-top: 20px;
  text-align: center;
  font-size: 18px;
}

.footer {
    display: flex;
    justify-content: center; 
    align-items: center;
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: maroon; 
    padding: 10px 0;
}

.footer a {
    margin: 0 10px; 
    text-decoration: none;
}

.footer button {
    padding: 8px 16px;
    background-color: maroon;
    border: none;
    border-radius: 5px;
    color: whitesmoke;
    font-size: 16px;
    cursor: pointer;
    text-decoration: none;
}
