body {
  background-color: whitesmoke;
  margin: 0;
  padding: 0;
  font-family: Arial, ;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.header {
  background-color: maroon;
  text-align: center;
  color: whitesmoke;
  padding: 20px 0;
}

.banner {
  background-color: ;
  color: white;
  padding: 10px;
  font-size: 18px;
  font-weight: bold;
}

.header h1 {
  font-size: 50px;
}

.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 20px 0;
}

.image-container img {
  width: 300px;
  height: auto;
  margin: 30px;
}

.footer {
  text-align: center;
  padding: 20px 0;
  background-color: maroon;
  color: lime;
}

.footer a {
  text-decoration: none;
}

.footer button {
  padding: 10px 20px;
  margin: 0 5px;
  font-size: 16px;
  background-color: maroon;
  color: whitesmoke;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.footer button:hover {
  background-color: #333;
  color: black;
}